<h1>Contact List</h1>
<ul>
  @foreach (var contact in Model)
  {
  <li>@contact.GetName()<br>@contact.GetAddress()<br>@contact.GetPhone()</li>
  }
</ul>
<form action="/contacts_cleared" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
